<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio Html</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <!-- <link rel="stylesheet" href="css/fontawesome/css/all.min.css"> -->
</head>


<body>
    <main>
        <section class="container">
            <img id="fundo" src="img/1923.jpg" alt="fundo">
            <img id="ia" src="img/ia.png" alt="ia">
            <div class="box">
                <img class="logo" src="img/logo-2.png" alt="logo">
                <h1 id="title-box">HTML e CSS</h1>
                <p>Você foi desafiado por:</p>
                <h2 id="title-box1">Alexandre Contreira</h2>
            </div>
            <div class="form">
                <div class="title-form">
                    <h1 id="title-form1">inscreva-se </h1>
                    <h1 id="title-form2">gratuitamente!</h1>
                </div>
                <form action="#">
                    <div class="input-name">
                        <i class="fa-solid fa-user" style="color: #FFD700;"></i>
                        <input type="text" placeholder="nome*">
                    </div>
                    <div class="input-name">
                        <i class="fa-solid fa-envelope" style="color: #FFD700;"></i>
                        <input type="email" placeholder="email*">
                    </div>
                    <div class="input-name">
                        <i class="fa-solid fa-phone" style="color: #FFD700;"></i>
                        <input type="text" placeholder="telefone*">
                    </div>
                    <div class="input-name">
                        <button type="submit">quero me inscrever já!</button>
                    </div>

                </form>
            </div>
        </section>
    </main>
</body>

</html>